
$mq-1: 48em !default; /* 768px / 16px = 48em */
$mq-2: 62em !default;
$mq-3: 76em !default;
$mq-4: 90em !default;
$mq-5: 102em !default;


@mixin mobile-only {
    @media only screen and (max-width : $mq-1 - 0.0625) {
        @content;
    }
}

@mixin mobile-and-above {
    @media only screen and (min-width : $mq-2 - 0.0625) {
        @content;
    }
}

@mixin tablet-and-above {
    @media only screen and (min-width : $mq-3 - 0.0625) {
        @content;
    }
}

@mixin laptop-and-above {
    @media only screen and (min-width : $mq-4 - 0.0625) {
        @content;
    }   
}

@mixin desktop-and-above {
    @media only screen and (min-width : $mq-5 - 0.0625) {
        @content;
    }   
}