
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.copyright {
    width: 100%;
    position: absolute;
    bottom: 5px;
    font-size: .65em;
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: .4;
}