.launchpad{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.launchpad img {
    width: 100%;
}

.pokeballs, .button-deck-left, .button-deck-right, .belt, .buttons-div, .wheelButton, .beenButtons, .buttonRed, .buttonBlue, .buttonGreen, .buttonYellow   {
    position: absolute;
    bottom: -5px;
}

// .pokeballs {
//     z-index: -1;
// }

.belt {
    width: 15%;
    margin-left: 9%;
    z-index: 100;
}

.wheelButton {
    width: 8%;
    right: 50px;
    margin-right: 19%;
    margin-bottom: 15px;
    z-index: 100;
}

.beanButtons {
    position: absolute;
    width: 6%;
    right: 50px;
    margin-right: 13%;
    bottom: 10px;
    z-index: 10000;
}

.buttonRed {
    position: absolute;
    width: 3%;
    right: 50px;
    margin-right: 6%;
    bottom: 5px;
    margin-bottom: 4%;
    z-index: 10000;
}

.buttonGreen {
    position: absolute;
    width: 3%;
    right: 50px;
    margin-right: 1%;
    bottom: 5px;
    margin-bottom: 4%;
    z-index: 10000;
}

.buttonYellow {
    position: absolute;
    width: 3%;
    right: 50px;
    margin-right: 8%;
    bottom: 5px;
    margin-bottom: 1%;
    z-index: 10000;
}

.buttonBlue {
    position: absolute;
    width: 3%;
    right: 50px;
    margin-right: 3%;
    bottom: 5px;
    margin-bottom: 1%;
    z-index: 10000;
}

